1-Create Google Calendar events from data on your Google Sheet.blueprint.json
{
    "name": "1-Create Google Calendar events from data on your Google Sheet",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 10,
                "sheetId": "<SHEET_NAME>",
                "__IMTCONN__": "<GOOGLE_CONN_ID>",
                "spreadsheetId": "<SPREADSHEET_ID>",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (<YOUR_EMAIL>)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "<SPREADSHEET_NAME>"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "start date (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "end date (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "event name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "attendees (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{split(1.`3`; space)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": "<GOOGLE_RESTRICTED_ACCOUNT_ID>"
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{15.value}}"
                ],
                "bcc": [],
                "from": "",
                "html": "Hello, \n\nWe are excited to see you in {{1.`2`}} at {{1.`0`}}.\n\nCheers\n<YOUR_NAME>",
                "subject": "Welcome to the {{1.`2`}}",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 15,
                "target": "2.attendees"
            },
            "mapper": {
                "email": "{{15.value}}",
                "displayName": ""
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [15]"
                        },
                        "target": {
                            "label": "Attendees"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "displayName",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": "<GOOGLE_CONN_ID>"
            },
            "mapper": {
                "end": "{{1.`1`}}",
                "start": "{{1.`0`}}",
                "select": "detail",
                "summary": "{{1.`2`}}",
                "calendar": "<YOUR_EMAIL>",
                "attendees": "{{16.array}}",
                "visibility": "default",
                "allDayEvent": false,
                "description": "{{1.`4`}}",
                "transparency": "opaque",
                "conferenceDate": false,
                "guestPermissions": {
                    "guestsCanModify": false,
                    "guestsCanInviteOthers": true,
                    "guestsCanSeeOtherGuests": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "In Detail"
                        },
                        "colorId": {
                            "mode": "chose"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "<YOUR_EMAIL> (Primary Calendar)"
                        },
                        "attendees": {
                            "mode": "edit"
                        },
                        "overrides": {
                            "mode": "chose"
                        },
                        "recurrence": {
                            "mode": "chose"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "conferenceDate": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "time": true,
                        "type": "date",
                        "label": "Start Date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attendees"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestPermissions",
                        "spec": [
                            {
                                "name": "guestsCanModify",
                                "type": "boolean",
                                "label": "Modify event",
                                "required": true
                            },
                            {
                                "name": "guestsCanInviteOthers",
                                "type": "boolean",
                                "label": "Invite others",
                                "required": true
                            },
                            {
                                "name": "guestsCanSeeOtherGuests",
                                "type": "boolean",
                                "label": "See guest list",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Guest Permissions"
                    },
                    {
                        "name": "recurrence",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "time": true,
                        "type": "date",
                        "label": "Start Date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attendees"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestPermissions",
                        "spec": [
                            {
                                "name": "guestsCanModify",
                                "type": "boolean",
                                "label": "Modify event",
                                "required": true
                            },
                            {
                                "name": "guestsCanInviteOthers",
                                "type": "boolean",
                                "label": "Invite others",
                                "required": true
                            },
                            {
                                "name": "guestsCanSeeOtherGuests",
                                "type": "boolean",
                                "label": "See guest list",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Guest Permissions"
                    },
                    {
                        "name": "recurrence",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    }
                ],
                "interface": [
                    {
                        "name": "kind",
                        "type": "text",
                        "label": "Kind"
                    },
                    {
                        "name": "etag",
                        "type": "text",
                        "label": "Etag"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "htmlLink",
                        "type": "text",
                        "label": "Html Link"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "updated",
                        "type": "date",
                        "label": "Updated"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "colorId",
                        "type": "text",
                        "label": "Color ID"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Display Name"
                            },
                            {
                                "name": "self",
                                "type": "boolean",
                                "label": "Self"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "organizer",
                        "spec": [
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Display Name"
                            },
                            {
                                "name": "self",
                                "type": "boolean",
                                "label": "Self"
                            }
                        ],
                        "type": "collection",
                        "label": "Organizer"
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start"
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End"
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "recurringEventId",
                        "type": "text",
                        "label": "Recurring Event ID"
                    },
                    {
                        "name": "originalStartTime",
                        "spec": [
                            {
                                "name": "dateTime",
                                "time": true,
                                "type": "date",
                                "label": "Date Time"
                            },
                            {
                                "name": "timeZone",
                                "type": "text",
                                "label": "Time Zone"
                            }
                        ],
                        "type": "collection",
                        "label": "Original Start Time"
                    },
                    {
                        "name": "transparency",
                        "type": "text",
                        "label": "Transparency"
                    },
                    {
                        "name": "iCalUID",
                        "type": "text",
                        "label": "I Cal UID"
                    },
                    {
                        "name": "sequence",
                        "type": "number",
                        "label": "Sequence"
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "self",
                                "type": "boolean",
                                "label": "Self"
                            },
                            {
                                "name": "organizer",
                                "type": "boolean",
                                "label": "Organizer"
                            },
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Display Name"
                            },
                            {
                                "name": "responseStatus",
                                "type": "text",
                                "label": "Response Status"
                            },
                            {
                                "name": "optional",
                                "type": "boolean",
                                "label": "Optional"
                            }
                        ],
                        "type": "array",
                        "label": "Attendees"
                    },
                    {
                        "name": "guestsCanInviteOthers",
                        "type": "boolean",
                        "label": "Guests Can Invite Others"
                    },
                    {
                        "name": "hangoutLink",
                        "type": "url",
                        "label": "Hangout Link"
                    },
                    {
                        "name": "conferenceData",
                        "spec": [
                            {
                                "name": "createRequest",
                                "spec": [
                                    {
                                        "name": "requestId",
                                        "type": "text",
                                        "label": "Request ID"
                                    },
                                    {
                                        "name": "conferenceSolutionKey",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Conference Solution Key"
                                    },
                                    {
                                        "name": "status",
                                        "spec": [
                                            {
                                                "name": "statusCode",
                                                "type": "text",
                                                "label": "Status Code"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Status"
                                    }
                                ],
                                "type": "collection",
                                "label": "Create Request"
                            },
                            {
                                "name": "entryPoints",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "regionCode",
                                            "type": "text",
                                            "label": "Region Code"
                                        },
                                        {
                                            "name": "entryPointType",
                                            "type": "text",
                                            "label": "Entry Point Type"
                                        },
                                        {
                                            "name": "uri",
                                            "type": "text",
                                            "label": "Uri"
                                        },
                                        {
                                            "name": "label",
                                            "type": "text",
                                            "label": "Label"
                                        },
                                        {
                                            "name": "pin",
                                            "type": "text",
                                            "label": "Pin"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Entry Points"
                            },
                            {
                                "name": "conferenceSolution",
                                "spec": [
                                    {
                                        "name": "key",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "iconUri",
                                        "type": "text",
                                        "label": "Icon Uri"
                                    }
                                ],
                                "type": "collection",
                                "label": "Conference Solution"
                            },
                            {
                                "name": "conferenceId",
                                "type": "text",
                                "label": "Conference ID"
                            },
                            {
                                "name": "signature",
                                "type": "text",
                                "label": "Signature"
                            }
                        ],
                        "type": "collection",
                        "label": "Conference Data"
                    },
                    {
                        "name": "reminders",
                        "spec": [
                            {
                                "name": "useDefault",
                                "type": "boolean",
                                "label": "Use Default"
                            },
                            {
                                "name": "overrides",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "method",
                                            "type": "text",
                                            "label": "Method"
                                        },
                                        {
                                            "name": "minutes",
                                            "type": "number",
                                            "label": "Minutes"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Overrides"
                            }
                        ],
                        "type": "collection",
                        "label": "Reminders"
                    },
                    {
                        "name": "eventType",
                        "type": "text",
                        "label": "Event Type"
                    },
                    {
                        "name": "visibility",
                        "type": "text",
                        "label": "Visibility"
                    },
                    {
                        "name": "outOfOfficeProperties",
                        "spec": [
                            {
                                "name": "autoDeclineMode",
                                "type": "text",
                                "label": "Auto Decline Mode"
                            },
                            {
                                "name": "declineMessage",
                                "type": "text",
                                "label": "Decline Message"
                            }
                        ],
                        "type": "collection",
                        "label": "Out of Office Properties"
                    },
                    {
                        "name": "guestsCanSeeOtherGuests",
                        "type": "boolean",
                        "label": "Guests Can See Other Guests"
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "fileUrl",
                                    "type": "url",
                                    "label": "File URL"
                                },
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "mimeType",
                                    "type": "text",
                                    "label": "Mime Type"
                                },
                                {
                                    "name": "iconLink",
                                    "type": "url",
                                    "label": "Icon Link"
                                },
                                {
                                    "name": "fileId",
                                    "type": "text",
                                    "label": "File ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "workingLocationProperties",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "officeLocation",
                                "type": "collection",
                                "label": "Office Location"
                            },
                            {
                                "name": "homeOffice",
                                "type": "collection",
                                "label": "Home Office"
                            }
                        ],
                        "type": "collection",
                        "label": "Working Location Properties"
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests Can Modify"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}